@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');


h1 {
    color: rgb(255, 0, 0);
    font-family: "Birthstone", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 85px;
}

p {
    color: red;
   font-family: "Birthstone", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 35px

}

body {
    background-color: rgb(0, 0, 0);
}